# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
.venv
*.egg
*.egg-info/
dist/
build/
uploads/
*.whl

# Logs and databases
*.log
*.sqlite3
*.db
*.pkl
*.json
*.lock

# pytest
.cache/

# Editor and OS-specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Docker
docker-compose.override.yml
.dockerignore

# Coverage reports
htmlcov/
.coverage
*.cover

# Mypy type checker
.mypy_cache/
dmypy.json
dmypy.*

# Pytest
.pytest_cache/

# FastAPI specific
*.pid
*.sock

# SQLite
test.db